.landing-page {
  position: relative;
}
.landing-hero {
  position: relative;
  padding: 10px;
  min-height: 640px;
  background-color: rgb(20, 20, 20);
  background-image: url("../../assets/hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-navbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  height: 20px;
  padding: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(0, 0, 128, 0.5);
}

.landing-link-wrapper {
  display: flex;
  gap: 20px;
}

.landing-nav-link {
  all: unset;
  color: grey;
  font-size: larger;
  cursor: pointer;

  &.active {
    color: white;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 128, 0.5);
    text-decoration-thickness: 3px;
    cursor: default;
    -moz-text-decoration-color: rgba(0, 0, 128, 0.5);
  }
}

.navbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: firebrick;
  height: 20px;
}

.nav-link-wrapper {
  display: flex;
  gap: 20px;
}

.nav-link {
  all: unset;
  color: grey;
  font-size: larger;
  cursor: pointer;

  &.active {
    color: white;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 128, 0.5);
    text-decoration-thickness: 3px;
    cursor: default;
    -moz-text-decoration-color: rgba(0, 0, 128, 0.5);
  }
}

.plan-a-trip-btn {
  all: unset;
  background-color: rgba(0, 0, 128, 0.5);
  color: white;
  border-radius: 8px;
  font-size: small;
  padding: 0 5px;
}
.trip-menu {
  position: absolute;
  z-index: 1;
  top: 60px;
  right: 0;
  width: 200px;
  background-color: wheat;
}

.countries-page {
  position: relative;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: firebrick;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: black;
  min-height: 60px;
  max-height: 60px;
}
